.product-item__container {
  margin-bottom: 10px;
}

.product-item__img {
  width: 100%;
  height: 300px !important;
  object-fit: cover;
}

.product-item__name {
  font-size: 1.6rem !important;
  line-height: 1.6rem !important;
  max-height: 3.2rem;
  min-height: 3.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-item__describe {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  
}

.product-item__manager-section {
  float: right;
}

.product-item__btn-delete {
  margin-left: 20px;
}
