.product-item__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-item__name {
  font-size: 1.4rem !important;
  line-height: 1.6rem !important;
  max-height: 3.2rem;
  min-height: 3.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
